<section id="beneficios" class="bg-[#f9bdb5]/15 py-16">
    <div class="max-w-5xl mx-auto text-center">
        <h3 class="text-3xl text-[#ef7a71] font-['Croissant_One'] font-bold mb-10">¿Por qué elegirnos?</h3>
        <div class="grid md:grid-cols-3 gap-6 text-left">
            <div>
                <h4 class="text-lg font-semibold mb-2">&nbsp;</h4>
                <p>&nbsp;</p>
            </div>
            <div>
                <h4 class="text-lg font-semibold mb-2">&nbsp;</h4>
                <p align="center" class="text-[#ef7a71]"> Dulcet, no solo hacemos repostería, creamos momentos
                    inolvidables a
                    través de cada bocado.
                    Nuestro compromiso es ofrecer productos frescos, elaborados con ingredientes de la más alta calidad
                    y un
                    toque artesanal que solo el cariño puede brindar.</p>
            </div>
            <div>
                <h4 class="text-lg font-semibold mb-2">&nbsp;</h4>
                <p>&nbsp;</p>
            </div>
        </div>
    </div>
</section>