<footer id="contacto" class="bg-[#c31644] text-white py-8">
    <div class="max-w-7xl mx-auto flex flex-col md:flex-row justify-between items-center text-center md:text-left">
        <div>
            <h4 class="text-lg font-bold mb-2">Dulcet</h4>
            <p><strong data-start="177" data-end="240">“Postres que despiertan recuerdos y crean nuevos
                    momentos.”</strong>
            </p>
        </div>
        <div class="mt-4 md:mt-0">
            <p class="flex gap-1"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="icon icon-tabler icons-tabler-outline icon-tabler-brand-whatsapp">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M3 21l1.65 -3.8a9 9 0 1 1 3.4 2.9l-5.05 .9" />
                    <path
                        d="M9 10a.5 .5 0 0 0 1 0v-1a.5 .5 0 0 0 -1 0v1a5 5 0 0 0 5 5h1a.5 .5 0 0 0 0 -1h-1a.5 .5 0 0 0 0 1" />
                </svg><a href="https://api.whatsapp.com/send?phone=51947907324" class="underline">+51 947 907 324
                </a>
            </p>
        </div>
    </div>
</footer>
