<!-- header.html -->
<header class="bg-white shadow-md sticky top-0 z-50">
    <div class="container mx-auto px-4 py-4">
        <div class="flex items-center justify-between">
            <div class="w-32 h-auto">
                <img src="https://pub-023c47e9dfb64a25bdd85c1c15374dea.r2.dev/DulcetRosa.png" alt="Logo Dulcet"
                    class=" object-contain h-8 w-auto" />
            </div>
            <nav class="hidden md:flex gap-x-6">
                <a href="#inicio" class="text-gray-600 hover:text-pink-600 transition-colors">Inicio</a>
                <a href="#productos" class="text-gray-600 hover:text-pink-600 transition-colors">Productos</a>
                <a href="#beneficios" class="text-gray-600 hover:text-pink-600 transition-colors">Nosotros</a>
                <a href="#contacto" class="text-gray-600 hover:text-pink-600 transition-colors">Contacto</a>
            </nav>
            <button
                class="bg-[#ef7a71] hover:bg-pink-700 text-white px-4 py-2 rounded-md flex items-center space-x-2 transition-colors">
                <!-- <i data-lucide="phone" class="h-4 w-4"></i> -->
                <span>Iniciar Sesión</span>
            </button>
        </div>
    </div>
</header>